body {
  font-family: Arial;
  background: linear-gradient(120deg,#1976d2,#64b5f6);
  height:100vh;
  margin:0;
  display:flex;
  align-items:center;
  justify-content:center;
}

.card {
  background:white;
  padding:30px;
  width:340px;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,.3);
  color:#000;
}

button {
  width:100%;
  padding:10px;
  background:#1976d2;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
}
